In [43]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [44]:
f1 = pd.read_excel('변수/1월별_거래규모별_아파트거래_동호수.xlsx')

In [45]:
f1.head(5)

,시,군구,거래규모,2014년 01월,2014년 02월,2014년 03월,2014년 04월,2014년 05월,2014년 06월,2014년 07월,2014년 08월,2014년 09월,2014년 10월,2014년 11월,2014년 12월
0,인천,NaN,합계,3201,4992,5130,5571,4721,4095,4022,4567,5522,7635,6421,4578
1,인천,NaN,20㎡이하,48,195,224,217,134,180,144,110,84,106,90,49
2,인천,NaN,21~40㎡,140,236,261,235,255,211,229,225,259,424,289,210
3,인천,NaN,41~60㎡,783,1607,1806,2013,1544,1269,1380,1463,1848,2237,1876,1370
4,인천,NaN,61~85㎡,1219,1831,1956,2379,1992,1574,1431,1647,2234,2879,2659,2043

In [46]:
# 14년도 ~ 18년 2월 데이터 합친 엑셀파일 만들기
f1 = pd.read_excel('./변수/1월별_거래규모별_아파트거래_동호수.xlsx')
f2 = pd.read_excel('./변수/2월별_거래규모별_아파트거래_동호수.xlsx')
f3 = pd.read_excel('./변수/3월별_거래규모별_아파트거래_동호수.xlsx')
f4 = pd.read_excel('./변수/4월별_거래규모별_아파트거래_동호수.xlsx')
f5 = pd.read_excel('./변수/5월별_거래규모별_아파트거래_동호수.xlsx')
f1.head(1)
# 2번째 파일부터 1~3열 제거
#f2 = f2.drop(["시","군구","거래규모"],axis=1)

,시,군구,거래규모,2014년 01월,2014년 02월,2014년 03월,2014년 04월,2014년 05월,2014년 06월,2014년 07월,2014년 08월,2014년 09월,2014년 10월,2014년 11월,2014년 12월
0,인천,NaN,합계,3201,4992,5130,5571,4721,4095,4022,4567,5522,7635,6421,4578

In [47]:
print(f1.shape)
print(f2.shape)
print(f3.shape)
print(f4.shape)
print(f5.shape)
# 남구가 미추홀구로 변경되어 행의 수가 차이가 생김

(100, 15)
(100, 15)
(100, 15)
(100, 15)
(110, 17)

In [48]:
f5.columns

Index(['시', '군구', '거래규모', '2018년 01월', '2018년 02월', '2018년 03월', '2018년 04월',
       '2018년 05월', '2018년 06월', '2018년 07월', '2018년 08월', '2018년 09월',
       '2018년 10월', '2018년 11월', '2018년 12월', '2019년 01월', '2019년 02월'],
      dtype='object')

In [49]:
f5[f5["군구"]=="남구"]

,시,군구,거래규모,2018년 01월,2018년 02월,2018년 03월,2018년 04월,2018년 05월,2018년 06월,2018년 07월,2018년 08월,2018년 09월,2018년 10월,2018년 11월,2018년 12월,2019년 01월,2019년 02월
30,인천,남구,합계,448,349,443,449,465,1347,0,0,0,0,0,0,0,0
31,인천,남구,20㎡이하,7,10,13,2,9,2,0,0,0,0,0,0,0,0
32,인천,남구,21~40㎡,49,21,12,17,8,34,0,0,0,0,0,0,0,0
33,인천,남구,41~60㎡,214,176,200,181,202,835,0,0,0,0,0,0,0,0
34,인천,남구,61~85㎡,132,111,174,194,203,442,0,0,0,0,0,0,0,0
35,인천,남구,86~100㎡,16,5,8,8,6,7,0,0,0,0,0,0,0,0
36,인천,남구,101~135㎡,17,15,27,41,30,21,0,0,0,0,0,0,0,0
37,인천,남구,136~165㎡,12,11,7,6,7,6,0,0,0,0,0,0,0,0
38,인천,남구,166~198㎡,1,0,2,0,0,0,0,0,0,0,0,0,0,0
39,인천,남구,198㎡초과,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [50]:
# 남구 명칭 미추홀구로 변경
f5.loc[30:39,["군구"]] = "미추홀구"

In [51]:
# 데이터 결합 30~39행의 데이터를 40~49행에 삽입
f5.loc[40:49,f5.columns[3:9]]=np.array(f5.loc[30:39,f5.columns[3:9]])
#print(f5[f5["군구"]=="미추홀구"])

In [52]:
# 30~39행 삭제
f5 = f5.drop([30,31,32,33,34,35,36,37,38,39])

In [56]:
# 불러온데이터 결합
f5
# 엑셀로 저장
# f5.to_excel("5월별_거래규모별_아파트거래_동호수(수정).xlsx",sheet_name='Sheet1')

In [57]:
# 수정된 엑셀 다시 불러오기
f5 = pd.read_excel("./변수/5월별_거래규모별_아파트거래_동호수(수정).xlsx")

In [58]:
f5

,시,군구,거래규모,2018년 01월,2018년 02월,2018년 03월,2018년 04월,2018년 05월,2018년 06월,2018년 07월,2018년 08월,2018년 09월,2018년 10월,2018년 11월,2018년 12월,2019년 01월,2019년 02월
0,인천,전체,합계,8627,6760,5879,7474,9482,6420,3974,4660,5246,6748,6467,6984,6769,8308
1,인천,전체,20㎡이하,36,23,43,35,73,43,30,21,27,21,35,83,23,12
2,인천,전체,21~40㎡,236,195,216,321,357,268,163,183,181,260,226,170,214,185
3,인천,전체,41~60㎡,2121,1519,1479,3213,3744,2494,1495,1460,1452,2223,2199,2060,1967,1112
4,인천,전체,61~85㎡,5271,4209,3432,3358,4807,3116,1759,2284,2835,3005,3115,3998,3826,6388
5,인천,전체,86~100㎡,433,349,184,130,138,128,122,328,260,479,317,193,328,163
6,인천,전체,101~135㎡,449,386,425,351,294,305,338,326,409,646,492,392,350,400
7,인천,전체,136~165㎡,63,62,82,56,49,52,61,46,59,87,65,72,47,37
8,인천,전체,166~198㎡,18,16,16,6,13,10,5,10,21,23,16,14,11,7
9,인천,전체,198㎡초과,0,1,2,4,7,4,1,2,2,4,2,2,3,4
10,인천,중구,합계,268,273,278,209,203,212,219,465,376,769,440,303,287,315
11,인천,중구,20㎡이하,0,2,1,0,0,0,1,0,0,0,1,0,0,1
12,인천,중구,21~40㎡,1,2,5,7,4,4,3,5,2,7,9,12,16,9
13,인천,중구,41~60㎡,57,57,72,66,51,48,60,47,68,148,81,72,77,70
14,인천,중구,61~85㎡,184,176,161,104,110,111,89,113,107,252,182,151,152,184
15,인천,중구,86~100㎡,6,6,11,13,20,35,51,255,138,301,138,40,18,29
16,인천,중구,101~135㎡,11,19,15,18,12,12,13,42,43,47,21,23,18,20
17,인천,중구,136~165㎡,2,0,4,0,1,0,2,1,3,1,1,0,3,1
18,인천,중구,166~198㎡,7,11,9,1,5,2,0,2,15,13,7,5,3,1
19,인천,중구,198㎡초과,0,0,0,0,0,0,0,0,0,0,0,0,0,0
20,인천,동구,합계,63,450,77,2102,73,93,89,152,112,97,115,79,72,56
21,인천,동구,20㎡이하,0,0,0,0,0,0,0,1,1,0,1,0,0,0
22,인천,동구,21~40㎡,6,15,12,96,11,4,3,5,4,6,1,1,6,4
23,인천,동구,41~60㎡,43,188,47,1719,41,54,53,133,76,63,87,60,51,34
24,인천,동구,61~85㎡,12,244,17,281,21,35,27,11,26,28,24,16,13,14
25,인천,동구,86~100㎡,0,1,0,3,0,0,1,1,1,0,0,1,1,1
26,인천,동구,101~135㎡,2,2,1,3,0,0,5,1,4,0,2,1,1,3
27,인천,동구,136~165㎡,0,0,0,0,0,0,0,0,0,0,0,0,0,0
28,인천,동구,166~198㎡,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29,인천,동구,198㎡초과,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,인천,계양구,합계,338,350,395,928,1483,931,302,312,333,558,362,293,711,316
71,인천,계양구,20㎡이하,2,0,0,3,1,3,2,0,2,0,0,2,0,0
72,인천,계양구,21~40㎡,45,43,47,50,58,128,48,42,38,48,44,32,51,34
73,인천,계양구,41~60㎡,177,187,204,390,596,409,140,142,163,253,152,144,456,162
74,인천,계양구,61~85㎡,94,101,123,444,778,346,89,104,105,225,137,95,173,101
75,인천,계양구,86~100㎡,4,8,8,22,32,20,2,7,8,15,8,2,8,5
76,인천,계양구,101~135㎡,15,11,12,16,15,19,17,16,14,14,19,15,19,10
77,인천,계양구,136~165㎡,1,0,1,3,0,3,4,0,2,2,2,3,3,2
78,인천,계양구,166~198㎡,0,0,0,0,0,2,0,0,0,0,0,0,0,0
79,인천,계양구,198㎡초과,0,0,0,0,3,1,0,1,1,1,0,0,1,2
80,인천,서구,합계,1829,1868,1609,1412,1182,1300,850,815,982,1385,1436,2459,2790,5033
81,인천,서구,20㎡이하,0,2,1,2,2,7,2,0,0,2,2,3,2,0
82,인천,서구,21~40㎡,37,17,41,31,15,24,14,14,10,25,28,21,24,10
83,인천,서구,41~60㎡,344,280,263,230,188,237,222,210,255,369,283,350,265,186
84,인천,서구,61~85㎡,1225,1364,1083,1022,874,904,482,466,551,680,860,1859,2129,4588
85,인천,서구,86~100㎡,113,107,77,34,26,33,18,20,41,76,113,106,258,26
86,인천,서구,101~135㎡,94,87,122,74,66,75,88,78,103,203,127,96,98,214
87,인천,서구,136~165㎡,14,10,21,16,9,14,20,21,22,27,20,20,13,6
88,인천,서구,166~198㎡,2,1,0,3,1,3,3,5,0,2,3,4,0,2
89,인천,서구,198㎡초과,0,0,1,0,1,3,1,1,0,1,0,0,1,1
90,인천,강화군,합계,8,18,13,12,15,12,8,13,13,17,15,9,11,14
91,인천,강화군,20㎡이하,1,0,0,0,0,0,0,0,0,0,0,0,0,0
92,인천,강화군,21~40㎡,0,0,1,1,0,0,1,2,3,1,4,0,2,2
93,인천,강화군,41~60㎡,3,5,3,3,2,1,0,1,1,5,0,1,2,2
94,인천,강화군,61~85㎡,4,12,8,8,9,9,6,9,8,7,10,8,6,9
95,인천,강화군,86~100㎡,0,0,0,0,0,0,0,0,0,0,0,0,0,0
96,인천,강화군,101~135㎡,0,1,1,0,4,2,1,1,1,4,1,0,1,1
97,인천,강화군,136~165㎡,0,0,0,0,0,0,0,0,0,0,0,0,0,0
98,인천,강화군,166~198㎡,0,0,0,0,0,0,0,0,0,0,0,0,0,0
99,인천,강화군,198㎡초과,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [61]:
# "군구" 순서 맞는지 확인
print(f1["군구"]==f2["군구"])
print(f2["군구"]==f3["군구"])
print(f3["군구"]==f4["군구"])
print(f4["군구"]==f5["군구"])
# 순서가 맞게 정렬되어 있다.

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
      ...
70     True
71     True
72     True
73     True
74     True
75     True
76     True
77     True
78     True
79     True
80     True
81     True
82     True
83     True
84     True
85     True
86     True
87     True
88     True
89     True
90     True
91     True
92     True
93     True
94     True
95     True
96     True
97     True
98     True
99     True
Name: 군구, Length: 100, dtype: bool
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
      ...
70     True
71     True
72     True
73     True
74     True
75     True
76     True
77     True
78     True
79     True
80     True
81     True
82     True
83     True
84     True
85     True
86     True
87     True
88     True
89     True
90     True
91     True
92     True
93     True
94     True
95     True
96     True
97     True
98     True
99     True
Name: 군구, Length: 100, dtype: bool
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
      ...
70     True
71     True
72     True
73     True
74     True
75     True
76     True
77     True
78     True
79     True
80     True
81     True
82     True
83     True
84     True
85     True
86     True
87     True
88     True
89     True
90     True
91     True
92     True
93     True
94     True
95     True
96     True
97     True
98     True
99     True
Name: 군구, Length: 100, dtype: bool
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
      ...
70    True
71    True
72    True
73    True
74    True
75    True
76    True
77    True
78    True
79    True
80    True
81    True
82    True
83    True
84    True
85    True
86    True
87    True
88    True
89    True
90    True
91    True
92    True
93    True
94    True
95    True
96    True
97    True
98    True
99    True
Name: 군구, Length: 100, dtype: bool

In [62]:
# f1,f2,f3,f4,f5 합친 후 엑셀로 쓰기
# 우선 f2~f5의 '시','군구','거래규모' 열 삭제 후 결합
# f2 = f2.drop(["시","군구","거래규모"],axis=1)

In [64]:
# f3 = f3.drop(["시","군구","거래규모"],axis=1)
# f4 = f4.drop(["시","군구","거래규모"],axis=1)
# f5 = f5.drop(["시","군구","거래규모"],axis=1)

In [65]:
# 결합
f = pd.concat([f1,f2,f3,f4,f5],axis=1)

In [68]:
# f의 컬럼명 확인
print(f.columns)
# f의 shape 확인
print(f.shape)

Index(['시', '군구', '거래규모', '2014년 01월', '2014년 02월', '2014년 03월', '2014년 04월',
       '2014년 05월', '2014년 06월', '2014년 07월', '2014년 08월', '2014년 09월',
       '2014년 10월', '2014년 11월', '2014년 12월', '2015년 01월', '2015년 02월',
       '2015년 03월', '2015년 04월', '2015년 05월', '2015년 06월', '2015년 07월',
       '2015년 08월', '2015년 09월', '2015년 10월', '2015년 11월', '2015년 12월',
       '2016년 01월', '2016년 02월', '2016년 03월', '2016년 04월', '2016년 05월',
       '2016년 06월', '2016년 07월', '2016년 08월', '2016년 09월', '2016년 10월',
       '2016년 11월', '2016년 12월', '2017년 01월', '2017년 02월', '2017년 03월',
       '2017년 04월', '2017년 05월', '2017년 06월', '2017년 07월', '2017년 08월',
       '2017년 09월', '2017년 10월', '2017년 11월', '2017년 12월', '2018년 01월',
       '2018년 02월', '2018년 03월', '2018년 04월', '2018년 05월', '2018년 06월',
       '2018년 07월', '2018년 08월', '2018년 09월', '2018년 10월', '2018년 11월',
       '2018년 12월', '2019년 01월', '2019년 02월'],
      dtype='object')
(100, 65)

In [71]:
# 엑셀로 내보내기
#f.to_excel('./변수/result.xlsx',sheet_name='Sheet1')